<launch>
  <arg name="name" default="dialog"/>
  <arg name="width" default="540"/>
  <arg name="height" default="430"/>
  <arg name="ids" default="
  Martoni
  Odile
  Kara
  Simon
  Commissaire"/>
  <arg name="topics" default="
  Martoni
  Odile
  Kara
  Simon
  Commissaire"/>
  <node name="dialogui_node" pkg="dialogui" type="dialoGUI" output="screen" args="$(arg name) $(arg width) $(arg height) $(arg ids) $(arg topics)"> </node>
</launch>
